.header {
  color: #000;
  background-color: #fff;
}

.header__wrap {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.header_links {
  display: flex;
}

.haader_qrcode {
  display: block;
  color: #fff;
  font-size: 16px;
  padding: 14px 12px;
  border-radius: 10px;
  margin-left: 22px;
  text-decoration: none;
  background-color: #19a50d;
}

.haader_new {
  display: block;
  background-color: #0d3fa5;
  color: #fff;
  font-size: 16px;
  padding: 14px 12px;
  border-radius: 10px;
  margin-left: 10px;
  text-decoration: none;
}

.haader_login {
  display: block;
  background-color: #0d3fa5;
  color: #fff;
  font-size: 16px;
  padding: 14px 12px;
  border-radius: 10px;
  margin-left: 10px;
  text-decoration: none;
}

.nav {
  display: block;
  margin: 0 0 0 auto;
}

.ul {
  list-style: none;
  margin: 0;
  display: flex;
  align-items: center;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.li {
  position: relative;
  margin-left: 22px;
  display: list-item;
  text-align: -webkit-match-parent;
  cursor: pointer;
}

.label1 {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}

.label2 {
  text-align: center;
  font-size: 10px;
}

.link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
