.subheader {
  height: 129px;
  line-height: 129px;
}

.subheader_body {
  text-align: center;
}

.subheader_logo {
  display: inline;
  vertical-align: middle;
  margin: 0 16.2px;
}

.swiper_container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  perspective: 1200px;
  width: 100%;
}

.swiper_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
  transform-style: preserve-3d;
}

.swiper_slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  max-width: 750px;
  max-height: 400px;
}

.swiper_slide > span {
  position: unset !important;
}

.smart_image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.swiper_slide_shadow_left {
  height: 400px !important;
  background-image: linear-gradient(
    270deg,
    hsla(0, 0%, 100%, 0.7000000000000001),
    hsla(0, 0%, 100%, 0)
  ) !important;
}

.swiper_slide_shadow_right {
  height: 400px !important;
  background-image: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 0.7000000000000001),
    hsla(0, 0%, 100%, 0)
  ) !important;
}

.swiper_pagination {
  position: static;
  text-align: center;
  transition: opacity 0.3s;
  transform: translateZ(0);
}

.fade_display {
  opacity: 1;
  transition: opacity 2.5s;
}

.pc_container {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.block_container {
  display: flex;
  margin-top: 30px;
}

.block_left {
  margin-left: auto;
}

.movie_container {
  max-width: 780px;
}

.add_control {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.add_control::after {
  content: "";
  width: 100%;
}

.tab_container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  background-color: #1c1d1f;
  color: #fff;
}

.radio {
  display: none;
}

.tab_title {
  position: relative;
  height: 40px;
  background-color: #313131;
  font-size: 14px;
  text-align: center;
  line-height: 40px;
  width: 50%;
  padding: unset;
}

.tab_title:checked {
  background: #1c1d1f;
}
